@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  
  --color-light-bg: #F8F9FA;
  --color-dark-bg: #050505;
}

@layer base {
  html {
    
    background-color: #F8F9FA;
    color: #0F172A;
    transition: all 0.7s ease-in-out;
  }

  
  html.dark {
    background-color: #050505;
    color: #ffffff;
  }
}